#preso {
  box-shadow: none;
}

div.content {
  margin-top: -32px !important;
}

body {
  background: #222;
}

.slide {
  background: #EBE3D1;
  border: 1px solid #111;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .5) inset;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .45);
}

.slide a {
  color: #0a5034;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 40, 0, .85);
}

.slide h1 {
  font-size: 3em;
  color: #fff;
  background: #340505 url(top.png) repeat-x;
  padding: 0.25em 10px 0.25em 0;
  text-align: right;
  text-shadow: 0 3px 3px rgba(0, 0, 0, .85);
  border-bottom: 3px solid #003b29;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  font-weight: bold;
}

.slide h2 {
  font-weight: bold;
}

.slide .subsection h1 {
  text-align: center;
}

.smbullets > ul > li,
.bullets > ul > li {
  text-align: left;
}

pre code {
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
  padding: 6px 12px;
}

code {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 6px;
  background: #eee;
  font-style: normal;
  font-size: 90%;
}

code code {
  border-width: 0;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.small_images
{
 padding: 2em;
}
.small_images img
{
  width: 320px;
  display: inline;
}

.letter_box 
{
  display: inline-block; 
  width: 50px;
  text-align: center;
  border: 2px solid black;
}

#bottom #notes 
{
  font-size: 0.9em;
  font-weight: bold;
}

.error {
  font-weight: bolder; 
  font-size: 5em; 
  color: #ff0000;
  transform: rotate(-30deg);
  -ms-transform: rotate(-30deg); /* IE 9 */
  -webkit-transform: rotate(-30deg); /* Safari and Chrome */
  animation: error 10s;
  -webkit-animation: error 10s; /* Safari and Chrome */
}

@keyframes error
{
  from {color: #000;}
  to {color: #ff0000;}
}

@-webkit-keyframes error /* Safari and Chrome */
{
  from {
    color: #000;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .85);
  }
  to {color: #ff0000;}
}

table {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

table td {
  padding: 5px 15px;
}
